<div class="navbar custom" *ngIf="currentUser">
  <i class="material-icons nav" routerLink="/home" data-md-tooltip="Home"
    >home</i
  >
  <i class="material-icons nav" routerLink="/explore" data-md-tooltip="Explore"
    >explore</i
  >
  <i class="material-icons nav" routerLink="/profile" data-md-tooltip="Profile"
    >account_circle</i
  >
  <i class="material-icons nav" (click)="logout()" data-md-tooltip="Logout"
    >exit_to_app</i
  >
</div>

<!-- main app container -->
<div class="jumbotron bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 bg-light">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
