/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/*#region Common tags*/

h2 {
  color: #efefef;
}

p {
  color: rgb(100, 96, 96);
  font-family: Open Sans, sans-serif;
}

p.user {
  color: rgb(100, 96, 96, 0.8);
  font-weight: 600;
}

ul {
  list-style-type: none;
}

div.titleHeader {
  width: 80vw;
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  margin-bottom: 20px;
  background-color: rgb(77, 215, 199, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

div.notFound{
  margin: auto;
}


.top-buffer { margin-top:30px; }

/*#endregion */

/*#region Posts*/


div.newPostBody {
  margin-bottom: 40px;
}

div.postHeader {
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  /* margin-bottom: 20px; */
  background-color: rgb(77, 215, 199, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.postBody {
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  background-color: white;
  margin-bottom: 30px;
}

div.addPost {
  margin-bottom: 1px;
}

p.post {
  color: rgb(39, 37, 37);
}

p.post-empty{
  color: rgb(255, 0, 0);
}
/*#endregion */

/*#region Follows*/

div.follow {
  width: 150px;
  border-radius: 25px;
  padding: 0.9rem 0.5rem 0.9rem 0.5rem;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(77, 215, 199, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

div.followList {
  margin: auto;
}

/*#endregion */

/*#region Icons*/

.material-icons {
  cursor: pointer;
  color: #4dd7c8;
}

.material-icons.small {
  font-size: 20px;
}

.material-icons.nav {
  font-size: 50px;
}

.material-icons.person {
  cursor: default;
  font-size: 60px;
  text-align: center;
}

.material-icons.person-profile {
  cursor: default;
  font-size: 120px;
  text-align: center;
}

.material-icons.sendBtn {
  font-size: 40px;
}

.material-icons.nav:hover,
.material-icons.small:hover,
.material-icons.sendBtn:hover {
  color: #bdeee8;
}

/*#endregion */

.btn-light {
  color: #efefef;
  font-weight: 500;
  background: #4dd7c8;
  margin: auto;
}

.btn-light-profile {
  width: 110px;
  margin-bottom: 5px;
  color: #efefef;
  font-weight: 550;
  background: #4dd7c8;
}

/*#region Tooltip*/

[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
  content: attr(data-md-tooltip);
  position: absolute;
  bottom: -35px;
  left: 50%;
  padding: 8px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  background: #9c929298;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1);
}

/*#endregion */

.table {
  margin-top: 10px;
}

.nav-link {
  font-size: large;
}

.navbar.custom {
  width: 50%;
  left: 25%;
  color: #e9ebee;
}

.body-custom {
  color: #e9ebee;
}

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
