/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

div.newPostHeader {
  width: 80vw;
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  margin-bottom: 20px;
  background-color: rgb(77, 215, 199, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

div.postHeader {
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  /* margin-bottom: 20px; */
  background-color: rgb(77, 215, 199, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.postBody {
  padding: 0.8rem 0.125rem 0.1rem 1.1rem;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.addPost {
  /* padding: 0.8rem 0.125rem 0.1rem 1.1rem; */
  margin-bottom: 1px;
}

.table {
  margin-top: 10px;
}

.nav-link {
  font-size: large;
}

.navbar.custom {
  width: 50%;
  left: 25%;
  color: #e9ebee;
}

.body-custom {
  color: #e9ebee;
}

.material-icons {
  cursor: pointer;
  color: #4dd7c8;
}

.material-icons.small {
  font-size: 20px;
}

.material-icons.nav {
  font-size: 50px;
}

.material-icons.sendBtn {
  font-size: 40px;
}

.material-icons:hover {
  color: #bdeee8;
}

p {
  color: rgb(100, 96, 96);
  font-family: Open Sans, sans-serif;
  /* font-family:georgia,garamond,serif;font-size:16px;font-style:italic; */
}

p.user {
  color: rgb(100, 96, 96, 0.8);
  font-weight: 600;
}

p.post {
  color: rgb(39, 37, 37);
}

ul {
  list-style-type: none;
}

[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
  content: attr(data-md-tooltip);
  position: absolute;
  bottom: -35px;
  left: 50%;
  padding: 8px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  background: #9c929298;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1);
}
