<div class="container-fluid">
  <div class="row">
    <div class="newPostHeader col-md-11">
      <p>
        Make new post
      </p>
    </div>
  </div>

  <div class="row">
    <input
      type="text"
      [(ngModel)]="inputContent"
      class="col-md-10 form-control"
    />
    <div *ngIf="isEmpty">Cannot add an empty post!</div>
    <i class="col-md-2 material-icons sendBtn" (click)="addPost()">send</i>
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <ul *ngIf="posts">
          <li *ngFor="let post of posts">
            {{ post.userName }} {{ post.content }}
            <i
              *ngIf="post.userName == currentUser.username"
              class="material-icons small"
              (click)="deletePost(post.id)"
              >cancel</i
            >
          </li>
        </ul>
        <a *ngIf="posts.length === 0">No posts found</a>
      </div>
    </div>
  </div>
</div>
