<div class="card">
  <div class="col-md-2">Search:</div>
  <div class="col-md-2">
    <input type="text" [(ngModel)]="listFilter" />
  </div>
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <a>No photos found</a>
        <ul>
          <li *ngFor="let user of users">
            {{ user.firstName }} {{ user.lastName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
