<div class="container-fluid">
  <div class="row">
    <div class="newPostHeader">
      <p>
        Make new post
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <input type="text" [(ngModel)]="inputContent" class="form-control" />
    </div>
    <div *ngIf="isEmpty">Cannot add an empty post!</div>
    <div class="col-md-2">
      <i class="material-icons sendBtn" (click)="addPost()">send</i>
    </div>
  </div>

  <div class="row">
    <ul class="col-md-12" *ngIf="posts">
      <li *ngFor="let post of posts">
        <div class="postHeader col-md-12">
          <p class="user">
            {{ post.userName }}
          </p>
        </div>

        <div class="postBody col-md-12">
          <p class="post">
            {{ post.content }}
          </p>
          <i
            *ngIf="post.userName == currentUser.username"
            class="material-icons small"
            (click)="deletePost(post.id)"
            >cancel</i
          >
        </div>
      </li>
    </ul>
    <a *ngIf="posts.length === 0">No posts found</a>
  </div>
</div>
